body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    transition: opacity 0.5s ease;
}

#menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-bottom: 40px;
}

.btTEMPO {
    background: none;
    border: 1px solid #000000; 
    padding: 15px 40px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #000000;
    border-radius: 50px;
}

.btTEMPO:hover {
    background-color: #000000;
    color: #ffffff;
}

#areaMeditacao {
    display: none;        
    position: relative;   
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.ponto {
    width: 20px;
    height: 20px;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

circle {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-dasharray: 880;
    stroke-dashoffset: 880;
    transition: stroke-dashoffset 1s linear;
}

#btSAIR {
    position: absolute;
    bottom: 30px;
    font-size: 0.9rem;
    opacity: 0.3;
    cursor: pointer;
    border: none;
    background: none;
    display: none;
}
#btSAIR:hover{
    opacity: 1;
}

p {
  font-size: 1rem;  
  color: #666666;
  max-width: 400px;
  margin: -45px auto 40px auto;
  line-height: 1.5;
}